## Application dependent libraries
#
amrlib==0.7.1
ansi2html==1.8.0
asttokens==2.1.0
blis==0.7.9
cachetools==5.2.0
cached-property==1.5.2
catalogue==2.0.8
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.0.4
cloudpickle==2.2.1
configparser==5.2.0
cycler==0.11.0
cymem==2.0.7
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash==2.13.0
decorator==5.1.1
et-xmlfile==1.1.0
executing==1.2.0
filelock==3.8.0
Flask==2.2.5
fonttools==4.38.0
frozendict==2.3.4
fsspec==2023.9.2
future==0.18.3
gensim==4.3.1
graphviz==0.20.1
h5py==3.7.0
huggingface-hub==0.18.0
hyperopt==0.2.7
idna==3.4
igraph==0.10.3
interlap==0.2.7
ipython==8.6.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
jsonpickle==3.0.1
kiwisolver==1.4.4
langcodes==3.3.0
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
matplotlib==3.5.3
msgpack-numpy==0.4.8
msgpack==1.0.4
murmurhash==1.0.9
nest-asyncio==1.5.6
networkx==2.8.8
nltk==3.7
numpy==1.23.4
openpyxl==3.1.2
packaging==21.3
pandas==1.4.4
parse==1.19.0
parso==0.8.3
pathy==0.6.2
patool==1.12
pexpect==4.8.0
plotly==5.17.0
preshed==3.0.8
prompt-toolkit==3.0.32
protobuf==3.20.3
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pydantic==1.8.2
pyemd==0.5.1
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
pyvis==0.2.1
PyYAML==5.4
regex==2022.10.31
requests==2.28.1
retrying==1.3.4
scikit-learn==1.1.3
scipy==1.9.3
screeninfo==0.8.1
sentence-transformers==2.2.2
sentencepiece==0.1.97
six==1.16.0
smart-open==5.2.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
spacy==3.2.4
srsly==2.4.5
stack-data==0.6.0
tabulate==0.8.10
tenacity==8.2.3
texttable==1.6.7
thinc==8.0.17
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==1.13.1
torchvision==0.14.1
tqdm==4.65.0
traitlets==5.5.0
transformers==4.32.1
typer==0.4.2
typing_extensions==4.4.0
urllib3==1.26.12
waitress==2.1.2
wasabi==0.10.1
wcwidth==0.2.5
Werkzeug==2.2.3
word2number==1.1
XlsxWriter==3.0.8

## Utility
#
plac==1.3.5
zensols.pybuild==0.1.1


## Zensols framework (installed in lib/trans/zensols)
#
#zensols.rend
#zensols.db==1.1.0
#zensols.deepnlp==1.10.1
#zensols.deeplearn==1.8.1
#zensols.install==1.0.0
#zensols.nlp==1.8.0
#zensols.util==1.13.2


## Models
#
en-core-sci-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.0/en_core_sci_md-0.5.0.tar.gz
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl#sha256=5e02939fb7fbae6dbcc9c5a1355f5e4e02939b649a1f0846ee844ac1d479bbeb
